@keyframes yellow {
  from {
    transform: rotate(0deg) translate(150px) rotate(0deg) scale(-1);
    font-size: 3rem;
  }

  to {
    transform: rotate(360deg) translate(20px) rotate(10deg) scale(-1);
    font-size: 0.5rem;
  }
}

@keyframes flayPlane {
  0% {
    top: 50%;
    left: -16%;
    transform: translate(-50%, -50%) scale(2) rotate(39deg);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(39deg);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  90% {
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  90% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  90% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}