.intro {
    padding: 1rem;
    text-align: center;

    &-title {
        text-align: center;
        font-size: 4rem;
        color: $color-primary;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    &-check {
        position: absolute;
        right: 1rem;
    }

    &-text {
        font-size: 2.1rem;
        line-height: 2.2rem;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-next {
        align-items: center;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 10rem;
        bottom: 0%;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: almoni-tzar, sans-serif;
        font-size: 2.125rem;
        height: auto;
        outline: none;
        padding: 0.6rem 1rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color .2s ease;
        width: 16rem;
        z-index: 1;
    }
}