.results {
    // position: fixed;
    // top: 0%;
    // right: 0;
    // width: 100vw;
    // height: 100vh;
    position: relative;

    // background: url('./assets/images/resultBg.webp');

    display: flex;
    align-items: center;
    justify-content: center;
    // color: white;
    display: flex;
    flex-direction: column;

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &-items {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: column;

        @include respond(min-tab-port) {
            flex-direction: row;
        }

        & .item {
            flex-direction: column;
            background-color: white;
            box-shadow: -1px -2px #00000070;
            margin: 1rem 0;
            padding: 1.5rem;

            @include respond(min-tab-port) {
                margin: 0 0rem;
            }

            h3 {
                margin-block-end: 1rem;

            }

            &-commision {
                font-size: 1.5rem;
                color: $color-primary;
            }

            &-compare {
                color: $color-grey-dark;
            }

            .referral-logo {
                width: 9rem;
                height: 5rem;
            }

            .icon {
                font-size: 1rem;
                margin-inline-start: 0.3rem;
                margin-inline-end: 0.2rem;
            }
        }
    }

    // & div {
    //     // background: $color-primary;
    //     // padding: 1.5rem;
    // }

    .btn {
        padding: 1rem;
        margin: 1rem;
    }

    .referral-btn {
        position: relative;
        @include global-btn(white, $color-primary, white);
        border-radius: 10rem;
    }
}





.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    align-items: center;
}

.swiper-button {

    &-prev,
    &-next {
        color: $color-black !important;
    }

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}